# Jupyter Lab
.ipynb_checkpoints

# Vertual Environment
envpy310/

# Other
tensorflow.ipynb
crop_img.py
crop.py

# Data
data/
online-images.zip

# Runner
tempCodeRunnerFile.py

# Open CV
opencv-repo/

# Cascades and classifiers
Haar-Cascades-Cuda/haarcascades_cuda/
LBP-Cascades/lbpcascades/
Hog-Cascades/hogcascades/
